<ion-view hide-back-button="true" hide-nav-bar="true">
	<ion-content class="scroll-content ionic-scroll">



		<div style="position:relative;">
			<img src="img/zanat_pocetna.jpg" width="100%">
			<div class="burgerMenu" menu-toggle="left" ng-click="toggleLeft()"></div>

			<a ng-href="#/podkategorija/lpO5zbIcKV" href="#/podkategorija/lpO5zbIcKV">
				<div class="servisi"> </div></a>

			<a ng-href="#/podkategorija/sS6rWsWwJl" href="#/podkategorija/sS6rWsWwJl">
				<div class="negaTela"></div></a>
				
			<a ng-href="#/podkategorija/gbXtTIjxBR" href="#/podkategorija/gbXtTIjxBR">
				<div class="rucniRad"></div></a>
				
			<a ng-href="#/podkategorija/jyq0YXQFvc" href="#/podkategorija/jyq0YXQFvc">
				<div class="usluge"></div></a>
			
			<a ng-href="#/podkategorija/guWpP8QGgW" href="#/podkategorija/guWpP8QGgW">
				<div class="domacinstvo"></div></a>
			
			<a ng-href="#/podkategorija/726YytpN5H" href="#/podkategorija/726YytpN5H">
				<div class="nonstop"></div></a>
			</div>


	</ion-content>
</ion-view>