<ion-view>
    <ion-content class="scroll-content ionic-scroll">

        <div class="ocena">
        <p>Kvalitet</p>
        <ionic-ratings ratingsobj='kvalitetRatings'></ionic-ratings><br/>
        <p>Cena</p>
        <ionic-ratings ratingsobj='cenaRatings'></ionic-ratings><br/>
        <p>Usluga</p>
        <ionic-ratings ratingsobj='uslugaRatings'></ionic-ratings><br/>


        <button ng-click="ocenite()" class="button button-light">Ocenite</button>

        </div>
    </ion-content>
</ion-view>