<ion-view>
	<ion-content class="scroll-content ionic-scroll" style="background-color: #edecec;">
		<div class="pretraga">
			<div class="pretragaTop">
				<p>Grad:</p>
				<select class="ion-input-select">
					<option disabled selected>Odaberi grad</option>
					<option>First Item</option>
					<option>Second Item</option>
					<option>Third Item</option>
					<option>Fourth Item</option>
				</select>
			</div>
		 <div class="pretragaCenter">
			 <p>Opstina:</p>
			 <select class="ion-input-select">
				 <option disabled selected>Odaberi grad</option>
				 <option>First Item</option>
				 <option>Second Item</option>
				 <option>Third Item</option>
				 <option>Fourth Item</option>
			 </select>
		 </div>
		 <div class="pretragaBottom">
			 <p>Pretraga po tekstu:</p>
			 <input type="text"/>
		 </div>
		 <div class="pretragaButton">
			 <button class="button button-stable">Pretraga</button>
		 </div>
	 </div>
	</ion-content>
</ion-view>
