<ion-view>
    <ion-content class="scroll-content ionic-scroll" padding="false" class="has-header">

        <img ng-src="{{zanatlija.image.url}}" width="100%" height="auto" style="width: 100%; height: 180px; border-bottom: 5px solid #f79328;">


            <div style="width:60px ; height: 60px ; background:white; border: 5px solid #f79328 ;margin-top: -33px ; margin-left: auto; margin-right: auto ; position: relative; border-radius: 50%">
                <img src="img/cvecar.png" width="48px" height="48px">

            </div>

        <h1 class="h1Oglas">{{zanatlija.name}}</h1>
        <br/>

        <table style="undefined;table-layout: fixed; width: 100%" align="center">
            <colgroup>
                <col style="width: 150px">
                    <col style="width: 150px">
                        <col style="width: 150px">
            </colgroup>
            <tr class="h3Oglas">
                <th>Kvalitet</th>
                <th>Cena</th>
                <th>Usluga</th>
            </tr>
            <tr>
              <th>{{kvalitet}}</th>
              <th>{{cena}}</th>
              <th>{{usluga}}</th>
            </tr>
        </table>
        <br/>

        <p>Mozete oceniti <a style="color: blue;" href="#/ocena/{{zanatlija.objectId}}">ovde</a></p>

        <div class="oglasTop">
            <p>Lokacija: {{zanatlija.address}}</p>
            <p>Radno vreme: {{zanatlija.workingTime}}</p>
            <p>Kontakt telefon: {{zanatlija.tel}}</p>
            <a href="tel:{{zanatlija.tel}}">
                <button class="button button-clear button-dark icon ion-ios-telephone"></button>
            </a>
            <a href="#/mapa-single-view/{{zanatlija.address}}">
                <button class="button button-clear button-dark icon ion-ios-location"></button>
            </a>
        </div>

        <div class="oglasTop">
            <h2 class="h2Oglas">Opis</h3>
            <p>{{zanatlija.opis}}</p>
        </div>
        <div class="oglasBottom">

             <button ng-click="facebookShare()" class="button button-stable icon ion-social-facebook"> </button>

        </div>
    </ion-content>
</ion-view>
