<ion-view class="about-us">
	<ion-content class="scroll-content ionic-scroll" style="background-color: #edecec;">
	<div class="about-us-info">
		<h3>O nama</h3>
		<p>Sinergija je najveća i najuticajnija godišnja konferencija posvećena informaciono-komunikacionim tehnologijama i njihovoj poslovnoj primeni u regionu Jugoistočne Evrope, koja se ove godine održava petnaesti put za redom. Organizuje je Microsoft Srbija, ali se Sinergija ne dovodi u vezu samo sa Microsoft tehnologijama, već je postala regionalni brend i sinonim za sve što je novo i aktuelno u čitavom IT svetu.
Sinergija je svakako prvenstveno namenjena IT javnosti, ali tokom godina Sinergija je prerasla u sveobuhvatnu društvenu mrežu ljudi koji su otvoreni, iskusni, voljni da svoja znanja prošire i dele sa drugima.
Ova mreža iz godine u godinu okuplja sve veći broj ljudi i van sfere IT stručnjaka, pa će i Sinergija15 privući veliki broj poslovno orijentisanih učesnika, donosioce poslovnih odluka zainteresovane za unapređenje biznis, organizacionih i tehnoloških procesa i optimizaciju kompanijskih resursa kroz upotrebu najsavremenijih tehnologija i alata koji to omogućavaju.</p>
	</br>
	</div>
	</ion-content>
</ion-view>
